.Modal__Wrapper {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,.4);

  padding-top: 2rem;

  animation: .4s modalBlur;
  animation-timing-function: steps(2, end);
  --slice-0: inset(0% 0% 0% 0%);
  --slice-1: inset(60% 20% 25% 10%);
  --slice-2: inset(50% -6px 45% 45%);
  --slice-3: inset(70% 20% 25% 10%);
  clip-path: var(--slice-0);
}

@keyframes modalBlur {
  0% {
    clip-path: var(--slice-3);
    transform: translate(30%, -40%);
  }
  30% {
    clip-path: var(--slice-1);
    transform: translate(-20%, 10%);
  }
  60% {
    clip-path: var(--slice-2);
    transform: translate(-30%, -20%);
  }
  80% {
    clip-path: var(--slice-1);
    transform: translate(0px, 0px);
  }
}




.Modal__Close svg {
  position: fixed;
  z-index: 200;
  top: 1rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: translateY(-200px);
  animation: close 1s ease forwards;
}
.st110, .st111 {
  fill: var(--main-light);
  /* animation: close 1s ease forwards; */
}
.st110 {
  transform: rotate(-190deg);
  animation: close 1s ease forwards;
}
.st111 {
  transform: rotate(190deg);
  animation: close 1s ease forwards;
}






