.Nav__Wrapper {
  position: fixed;
  top: 0;
  z-index: 800;
	height: 60px;
  width: 100%;
  color: var(--main-light);
}

.Nav__Main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: var(--main-shadow-t);
  padding: .3rem;
  width: 100%;
  
}

.Nav__Main .active {
  color: var(--main-blue);
  width: 100%;
}
.Nav__Main ul {
	list-style: none;
  cursor: pointer;
}
.Nav__Main li {
	float: left;
  display: block;
  line-height: 60px;
  padding: 0 1.4rem;
  text-decoration: none;
}
.Nav__Main li a:hover {
  color: var(--main-blue);
}


.Nav__Title {
  font-family: 'poppinsBold';
  font-size: 1.3rem;
  letter-spacing: .1em;
}


#menu__Main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	height: 58px;
	width: 1080px;
}


.Header__Links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: 150px;
  /* padding: .3rem; */
}
.Header__Links a {
  margin-left: .5rem;
}









.Toggler_Btn {
  display: none;
}
.NavToggler_Btn {
  position: relative;
  left: .5rem;
  top: -.2rem;
  height: 30px;
  width: 30px;
  cursor: pointer;
}




#menu__Toggler {
  position: fixed;
  right: 0rem;
  top: 3.5rem;
  width: 50%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: var(--main-shadow-t);
  padding: 0 1rem;
}
.Nav__Toggler {
 display: none !important;
}
.Nav__Toggler ul {
  padding: 0;
}
.Nav__Toggler li {
  padding: 0;
  width: 90%;
}








@media screen and (max-width: 800px){
  /* .Nav__Main {display: none;} */
  #menu__Main {display: none;}
  .Toggler_Btn {
    display: block;
  }
  .Nav__Toggler {
    display: block !important;
   }
   .Nav__Main {
    justify-content: space-around;
    height: 58px;
    width: 100%;
   }
}