#Services__Section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 8rem 0;
  /* height: 60vh; */
}

.IconPath__Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Services__Item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5vw 5rem 5vw;
  padding: 1rem;

  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.Services__Item .description {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.Services__Item .description p {
  height: 100px;
}

.Services__Item code {
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  background: var(--main-light);
  background-clip: text;
  -webkit-text-stroke: .8px transparent;
  color: var(--main-dark);
}



.Services__Item .st1 {
  fill: var(--main-dark);
  stroke-width: .5;
  filter: drop-shadow(10px 10px 5px rgb(0 0 0 / 0.4))
  /* animation: test 2s linear forwards; */
}
/* @keyframes test {
  to {
    filter: drop-shadow(10px 10px 5px rgb(0 0 0 / 0.4))
  }
} */

.Services__Item .st2_Brush {
  filter: opacity(.03) blur(5px);
  fill: var(--main-blue);
}
.Services__Item .st2_Code {
  filter: opacity(.03) blur(5px);
  fill: var(--main-violet);
}
.Services__Item .st2_backend {
  filter: opacity(.03) blur(5px);
  fill: var(--main-violet);
/* color: #bf04b379; */
}








.Fontend span {
  background: var(--main-blue);
  background-clip: text;
  -webkit-text-stroke: 1px transparent;
  color: var(--main-dark);
}
.st_Fontend {
  fill:none;
  stroke:var(--main-blue);
  stroke-width:2;
  stroke-miterlimit: 10;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation-delay: .3s !important;
}


.Code span {
  background: var(--main-violet);
  background-clip: text;
  -webkit-text-stroke: 1px transparent;
  color: var(--main-dark);
}
.st_Code {
  fill:none;
  stroke:var(--main-violet);
  stroke-width:2;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation-delay: 1.3s !important;
}


.Backend span {
  background: var(--main-magenta);
  background-clip: text;
  -webkit-text-stroke: 1px transparent;
  color: var(--main-dark);
}
.st_Backend {
  fill:none;
  stroke:var(--main-magenta);
  stroke-width:2;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation-delay: 2.3s !important;
}


.svgPath__Animate {
  animation: dash 2s linear forwards;
}
.textBrush__Animate {
  animation-delay: 0s;
}
.textCode__Animate {
  animation-delay: 1s;
}
.textBackend__Animate {
  animation-delay: 2s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 1))
    
  }
}