#Skills__Section {
  display: flex;
  justify-content: center;
}

#Skills__Section h3 {
  position: relative;
  z-index: 150;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#Skills__Section h3::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  background-color: var(--main-blue);
  height: 2px;
  width: 30px;
}
.design { color: var(--main-blue); }
.programmation { color: var(--main-violet); }
.backend { color: var(--main-magenta); }
.design::after {background-color: var(--main-blue) !important;}
.programmation::after {background-color: var(--main-violet) !important;}
.backend::after {background-color: var(--main-magenta) !important;}

.Collpase__Opened::after {
  top: 50% !important;
  animation: opened .5s forwards;
} 
.Collpase__Closed::after {
  animation: closed .5s forwards;
} 
@keyframes opened {
  to { transform: rotate(90deg); }
}
@keyframes closed {
  from { transform: rotate(90deg); }
  to { transform: rotate(0deg); }
}





.collapse_One, .collapse_Two, .collapse_Three, .collapse_Four,
.collapse_Five, .collapse_Six, .collapse_Seven, .collapse_Eight,
.collapse_Nine, .collapse_Ten, .collapse_Eleven, .collapse_Twelve {
  position: relative;
  overflow: hidden;
  transition: .5s;
  margin: 0;
  padding: 0;
}





#Skills__Section .Skills_Section {
  display: flex;
  flex-direction: row;
  min-height: 230vh;
}






.Skills_Left {
  width: 40%;
  position: relative;
  padding: 1rem;
}
.SkillsLeft_Content {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 110vh;
  /* margin: 5vh 0; */
  display: flex;
  align-items: center;
  justify-content: center;
} 

.SkillsLeft__Images {
  position: absolute;
  z-index: 50;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-areas: "overlay";
}
.SkillsLeft__Images > span {
  grid-area: overlay;
}
.SkillsLeft__Images > div {
  grid-area: overlay;
}
/* .SkillsLeft__Images > span:nth-child(1) {
  left: 20%;
  top: -30%;
}*/


.SkillsLeft_Content .circleBack {
  max-width: 800px;
  min-width: 400px;
  -webkit-transform: rotateX(-70deg) rotateY(0deg) translateY(0px) translateZ(70px) scale(1) skewX(27deg) skewY(-30deg);
  -moz-transform: rotateX(-70deg) rotateY(0deg) translateY(0px) translateZ(70px) scale(1) skewX(27deg) skewY(-30deg);
  -ms-transform: rotateX(-70deg) rotateY(0deg) translateY(0px) translateZ(70px) scale(1) skewX(27deg) skewY(-30deg);
  -o-transform: rotateX(-70deg) rotateY(0deg) translateY(0px) translateZ(70px) scale(1) skewX(27deg) skewY(-30deg);
  transform:  rotateX(-70deg) rotateY(0deg) translateY(50px) translateZ(70px) scale(1) skewX(0deg) skewY(-0deg);

}
.SkillsLeft_Content .Skills_st1 {
  fill: var(--main-dark);
  stroke: var(--main-blue);
  stroke-width: .5;
  filter: drop-shadow(-5px 15px 3px rgb(0 0 0 / 0.6))
}
.Skills_st2__Blue {fill: var(--main-blue) !important;}
.Skills_st2__Violet {fill: var(--main-violet) !important;}
.Skills_st2__Magenta {fill: var(--main-magenta) !important;}
.Skills_st1__Blue {stroke: var(--main-blue) !important;}
.Skills_st1__Violet {stroke: var(--main-violet) !important;}
.Skills_st1__Magenta {stroke: var(--main-magenta) !important;}

.SkillsLeft_Content .Skills_st2 {
  filter: opacity(.05) blur(8px);
  fill: var(--main-blue);
}
















#Skills__Section .Skills_Right {
  padding: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 50vw;
  overflow: hidden;
}
#Skills__Section .SkillsRight_Content {
  display: flex;
  flex-direction: column;
  height: 100%;
} 
#Skills__Section .SkillsRight_Text {
  height: 85vh;
  margin-top: 18vh;
} 

#Skills__Section .SkillsRight_Container p {
  margin: 0 1rem ;
}
#Skills__Section .SkillsRight__Images {
  position: relative;
  z-index: 50;
  width: 350px;
  height: 350px;
}


#Skills__Section .annotation {
  position: relative;
  min-width: 50vw;
  /* overflow: hidden; */
}
.annotation .card {
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: var(--main-dark-t);  
  border-radius: 15px;
  border: 1px solid var(--main-blue-t);
  box-shadow: var(--main-shadow-lg);
  width: 80%;
  max-width: 500px;
  padding: .5rem 2rem;
  cursor: pointer;
}
/* .annotation .card:hover {
  z-index: 50;
  transition-duration: 1s;
} */
.annotation .card:nth-child(1) {
  top: 100px !important;
  left: 20% !important;
  animation-delay: 0.2s;
}
.annotation .card:nth-child(2) {
  top: 10px !important;
  left: 5% !important;
  animation-delay: 0s;
}
.annotation .card:nth-child(3) {
  top: 180px !important;
  left: 15% !important;
  animation-delay: 0.4s;
}
.annotation .card:nth-child(4) {
  top: 350px !important;
  left: 0% !important;
  animation-delay: 0.8s;
}

.card__Animate {
  animation: SkillUp .5s both;

}

@keyframes SkillUp {
  0% {
    display: none;
    opacity: 0;
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
  }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}





@media screen and (max-width: 1024px) {
  #Skills__Section .Skills_Section {
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
  }
  #Skills__Section .Skills_Left {
    display: none;
  }
  #Skills__Section .Skills_Right {
    min-width: 98vw;
  }

  #Skills__Section .SkillsRight__Images {
    margin: auto;
    width: 100%;
  }

  
  #Skills__Section .SkillsRight_Content {
    max-width: 100%;
  } 
  #Skills__Section .SkillsRight_Text {
    min-height:800px;
    /* height: 70vh; */
    margin: 0 0 3rem 0;
  }
}
@media screen and (min-width: 1025px) {
  #Skills__Section .SkillsRight__Images {
    display: none;
  }

}


