#WebArea {
  padding: 2rem 0;
  overflow: hidden;
}

#WebArea .grid-container {
  position: relative;
  height: 20vh;
}
.slick-slider {
  top: 25%;
}

#WebArea .WebArea__SlideCard {
  text-align: center;
  animation-duration: 1s;
  filter: saturate(0);
}
#WebArea .WebArea__SlideCard:hover {
  filter: saturate(1) !important;
}

#WebArea .slick-prev, #WebArea .slick-next {
  display: none !important;
}
