#WebArea {
  padding: 2rem 0;
  height: 300px;
  display: flex;

}

#WebArea .grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 800px; */
}

#WebArea .Card {
  filter: saturate(0);
}